---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyATEtTThtLqR-beC_9rNogv5bFgMmvh5tk&part=snippet&q=India
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "QQkz5b7kOlvgbXnC3Jv1YLaHemU",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 195,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "tUaxkTw4UAm2_GCCgiRbqnEw1kc",
              "id": {
                "kind": "youtube#video",
                "videoId": "xvshRPFgCeI"
              },
              "snippet": {
                "publishedAt": "2021-01-12T20:21:11Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of India",
                "description": "Sources: \"The Penguin History of Early India: From the Origins to AD 1300\" (2003) by Romila Thapar. Penguin Books Ltd, London.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/xvshRPFgCeI/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-01-12T20:21:11Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "eJABHDkPl6IlmB3ufPB-rI-sU7w",
              "id": {
                "kind": "youtube#video",
                "videoId": "GTmHYVUJTAM"
              },
              "snippet": {
                "publishedAt": "2022-10-07T14:05:54Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Pakistan",
          [...]
