---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyATEtTThtLqR-beC_9rNogv5bFgMmvh5tk&part=snippet&q%5BchannelId%5D=UCluQ5yInbeAkkeCndNnUhpw&q%5Bpart%5D=snippet&q%5Bq%5D=India
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "B-7gjka_0hy9mtXfLD0A0mBAhVU",
          "nextPageToken": "CAUQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 193,
            "resultsPerPage": 5
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "EK2gZRM608VNpBhk8yD2hhCFJKQ",
              "id": {
                "kind": "youtube#video",
                "videoId": "BICUzKwdPDY"
              },
              "snippet": {
                "publishedAt": "2023-06-25T15:12:42Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of the Isle of Man",
                "description": "A bonus video for Snakey :) Pictures: https://commons.wikimedia.org/wiki/File:Isle_of_Man_Sunrise_from_Snaefell.jpg ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/BICUzKwdPDY/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/BICUzKwdPDY/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/BICUzKwdPDY/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2023-06-25T15:12:42Z"
              }
            },
            {
              "kind": "youtube#searchResult",
              "etag": "cTPWaj82KJdNZsRkaKcFcrqPTy4",
              "id": {
                "kind": "youtube#video",
                "videoId": "DRLl6AjP3KM"
              },
              "snippet": {
                "publishedAt": "2022-10-29T12:46:30Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Papua New Guinea",
  [...]
